// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.grid {
  display: grid;
  width: 900px;
  grid-template-columns: 300px 300px 300px;
  align-items: end;
}

.img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  img {
    width: 200px; /* width of img */
    height: 200px; /* height of img */
    object-fit: cover;
  }
}
